@import url("https://cdn.22is5.com/css/reset.css");
@import url("https://cdn.22is5.com/fonts/rubik.css");
@import url("https://cdn.22is5.com/fonts/jetbrains-mono.css");
body {
  background-color: #000;
  color: #fff;
  font-family: "Rubik";
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 12px;
  height: 100vh;
}
.main {
  width: 356px;
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
h1 {
  font-size: 72px;
  text-align: center;
}
.links {
  display: flex;
  gap: 12px;
  padding: 0px 3px;
}
.links a:hover {
  opacity: 0.8;
}
.content {
  padding: 12px 3px;
  line-height: 1.6;
  position: relative;
}
.content a {
  color: #fae99d;
}
h2 {
  font-weight: 600;
}
.gallery {
  display: flex;
  flex-direction: column;
  height: 50vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #fff #000;
  gap: 12px;
}
code {
  font-family: "Jetbrains Mono";
}
